<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


  <context:component-scan base-package="com.spring.demo">
  </context:component-scan>


<!--  bean元素，描述当前的对象需要有spring容器管理
    id属性：标识对象，未来在应用程序中可以根据ID获取对象
    class：被管理对象的类全名
-->
  <bean id="service" class="hello.MessageService"></bean>

  <bean id="printer" class="hello.MessagePrinter">
<!--  子节点 printer和service建立联系  -->
    <property name="messageService" ref="service"></property>
  </bean>

</beans>